*.out
*pycache*/
*_TRIPLET*/
*_F*/
*_MINCONV*/
*_BASIC_*/
2N1S*/
stand-alone_data_*
.ipynb_checkpoints
plasticity_type.txt
saved_state*
*Const.*/
simulation-bin/run_binary_paper2/activation_IC/
simulation-bin/run_binary_paper2/activation_interleaved/
simulation-bin/run_binary_paper2/activation_noLTD/
simulation-bin/run_binary_paper2/activation_randweight/
simulation-bin/run_binary_paper2/organization_noLTD/
simulation-bin/run_binary_paper2/organization_randweight/
simulation-bin/run_binary_misc/connections.txt
benchmark_*/
simulation-bin/*/out/*
*/**/recall_varied_pattern_size*/
*.tar.gz
